body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.style-guide__components {
  padding: 0 10px;
}

@media only screen and (min-width: 48em) {
  html,
  body {
    height: 100%;
    overflow-y: hidden;
  }

  .l-app {
    height: 100%;
    overflow-y: auto;
  }

  .style-guide__nav {
    position: fixed;
    width: 20%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .style-guide__components {
    margin: 40px 0 20px 25%;
    overflow-x: hidden;
  }
}

h1 {
  margin: 0 0 30px;
}

h2 {
  padding: 0;
  margin: 0;
  color: #666;
}

.style-guide {
  &__nav {
    padding: 20px 10px 0;
    margin: 0;
    background: #fff;
  }

  &__list {
    list-style-type: none;
    padding: 20px 0 30px 0;
    margin: 0;
  }

  &__nav-link {
    display: block;
    color: #9b9b9b;
    padding: 10px;
    text-decoration: none;
  }

  &__nav-item.is-selected > &__nav-link {
    color: #333;
    background: #f2f2f2;
    font-weight: bold;
  }

  &__nav-link:hover {
    background: #f2f2f2;
  }
}